.wrapper {
    display: flex;
    align-items: flex-end;

}

.pageNumber {
    margin: 0 20px;
}

.container {
    display: flex;
    align-items: flex-end;
}

.input {
    width: 50px;
    margin-left: 10px;
}