@import '../../styles/variables.scss';

.error {

    &Wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryBlue;
        width: 100vw;
        height: 100vh;
    }

    &Message {
        margin: 0;
        font-size: 26px;
    }
}